response_ok:
	wrapper:
		type: map
		properties:
			status: int
			response: @@

sections:
	-
		title: Basic
		endpoints:
			"/default_wrapper":
				get:
					response_ok:
						schema:
							type: int
			"/custom_wrapper":
				get:
					response_ok:
						schema:
							type: string
						wrapper: null
			"/custom_wrapper2":
				get:
					response_ok:
						schema:
							type: string
						wrapper:
							type: map
							properties:
								data: @@
