sections:
	-
		title: Basic
		endpoints:
			"/parameters":
				parameters:
					global_int: int
					global_float: float
				get:
					parameters:
						global_int: int|null
						local_int: int
						?optional: string
